html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Fin du reset*/
@font-face {
    font-family: 'heebo';
    src: url('font/heebo-variablefont_wght-webfont.woff2') format('woff2'),
         url('font/heebo-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	background-color: #222;
}

* {
	text-decoration: none;
	user-select: none;
}

#sign:hover {
	text-decoration: underline;
}

p {
	color: white;
	font-family: heebo, sans-serif;
}

/*txt a l'affiche taille/police*/

	.affiche {
		font-size: 45px;
		text-align: center;
		padding-bottom: 20px;
	}

/*dégradé du BG*/

	#bg{
		background: linear-gradient(to bottom, transparent, #222), url(img/cinema.jpg);
		background-size: cover;
		position: relative;
		padding: 15%;
		background-position: center;	
		transition: all .5s ease;
	}

/*menu déroulant*/

	.wrapper {
		margin: 0 auto;
		text-align: center;
	}


	header li {
		display: inline-block;
		vertical-align: top;
		position: relative;
	}

	header li a, .ins, .une {
		display: block;
		padding: 20px;
		color: whitesmoke;
		font-family: heebo, sans-serif;
		font-size: 30px;
		transition: 0.35s;
		border-radius: 10px;
	}

	header li .une:hover {
		border-radius: 10px 10px 0px 0px;
	}

	header li a:hover{
		background-color: black;
		color: whitesmoke;
	}

	header li:hover .menu {
		transition: 0.35s;
		display: block;
	}
	
	header li:hover .une{
		background-color: black;
		border-radius: 10px 10px 0 0;
	}

	.menu {
		display: none;
		position: absolute;
		background-color: black;
		color: whitesmoke;
		width: 200px;
		border-radius: 0px 10px 10px 10px;
	}


/*fin menu deroulant*/
.film img {
	max-height: 100%;
	max-width: 100%;
	transition: transform .1s;
	border-radius: 5px;
}

.aff {
	height: 150px;
	width: 180px;
	display: inline-block;
	transition: background .1s;
	text-align: center;
}

.film {
	background-color: rgba(28, 28, 28, 0.8);
	border-radius: 30px;
	max-height: 350px;
	min-height: 170px;
	margin-left: 30%;
	margin-right: 30%;
	padding-top: 1%;
	text-align: center;
}

.affiche {
	padding: 20px;
}

.aff img:hover{
	transform: scale(1.2) translate(2px);
}

.ins {
	cursor: pointer;
}

.pavu {
	display: none;
}

/* footer  */

	footer {
		max-height: 40px;
		bottom: 5px;
	  position: fixed;
	  font-size: 13px;
	}

/* Formulaire  */

.center {
	font-family: heebo, sans-serif;
	font-size: 20px;
	display: none;
	transition: .5s;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 400px;
	background-color: white;
	border-radius: 10px;
}

.center h1 {
	text-align: center;
	padding: 30px 0 30px 0;
	border-bottom: 1px solid silver;
}

.center form{
	padding: 0 40px;
	box-sizing: border-box;
}

form .txt_field {
	position: relative;
	border-bottom: 2px solid #adadad;
	margin: 30px 0;
}

.txt_field input {
	width: 100%;
	padding: 0 5px;
	height: 40px;
	border: none;
	background: none;
	outline: none;
}

.txt_field label {
	position: absolute;
	top: 50%;
	left: 5px;
	color: #adadad;
	transform: translateY(-50%);
	pointer-events: none;
	transition: .5s;
}

.txt_field span::before {
	content: '';
	position: absolute;
	top: 40px;
	left: 0;
	width: 0%;
	height: 2px;
	background: #2691d9;
	transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
	top: -5px;
	color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
	width: 100%;
}

input[type="submit"] {
	width: 100%;
	height: 50px;
	border: 1px solid;
	background: #2691d9;
	border-radius: 25px;
	color: white;
	cursor: pointer;
	outline: none;
	transition: .5s;
}

input[type="submit"]:hover {
	border-color: #2691d9;
	transition: .5s;
}

.light {
	width: 10%;
	height: 10px;
	text-decoration: none;
	color: black;
	font-size: 20px;
	border: 2px solid;
	border-radius: 30px;
	padding: 15px 45px;
	transition: 0.4s;
	border-color: #2691d9;
	background-color: rgba(38, 145, 217, 0.09);
	text-align: center;
	margin: 10px 0 0 37%;
	cursor: pointer;
}

.light:hover {
	background-color: rgba(38, 145, 217, 0.5);
	color: white;
}

/* styles pour la lampe de poche */
.flashlight {
  position: absolute;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 200px 35px rgba(255, 255, 255, 1.0);
  pointer-events: none; /* empêche les événements de souris de passer à travers la lampe de poche */
}

/* styles pour la div contenant la lampe de poche */
.film {
  position: relative;
  /* autres styles */
  overflow: hidden;
}
