html {
	background: #f0f5f0;
}

img, button {
	user-select: none;
}

.img {
	text-align: center;
	padding-top: 5%;
}

.img img {
	width: 10%;
}

.txt {
	text-align: center;
	padding-top: 2%;
	font-size: 35px;}

.btn {
	display: flex;
	justify-content: center;
}

button {
	padding-inline: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	margin-inline: 20px;
	border-radius: 5px;
}

.oui {
	background:rgba(79, 240, 77, 0.6);
	font-size: 25px;
	transition: 0.5s;
}

.oui:hover {
	background: rgba(79, 240, 77, 1.0);
}

.non {
	background:rgba(242, 44, 44, 0.7);
	max-height: 60px;
	transition: 0.5s;
	cursor: url("cursor.png"), auto;
}

.non:hover {
	background:rgba(242, 44, 44, 1.0);
	color: white;
}

.heart img{
	width: 35%;
}

.heart {
	text-align: right;
}